*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
font-family: 'Poppins', sans-serif;
*/


a{
	text-decoration: none;
	float: right;
    margin-right: 42px;
}
body{
	width: 100%;
	background: #ebeeef;
}
.main-box{
	width: 48%;
	background: #ffffff;
	height: 540px;
	margin: 40px auto;
	border-radius: 8px;
}
.box{
	width: 100%;
	height: 26vh;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #596e7e;
    background-blend-mode: soft-light;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.box h2{
	height: 26vh;
	display: flex;
	justify-content: center;
	align-items:center;
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
	font-size: 30px;
	text-transform: uppercase;
}
.form{
	margin: 80px 60px;
}
.label{
	font-family: 'Poppins', sans-serif;
	color: #808080;
	font-size: 15px;
	padding: 10px;
}
input:focus{
	outline: none;
	border-color: #57b846;
}
.f-r{
	font-family: 'Poppins', sans-serif;
	color: #555555;
	font-size: 15px;
	margin-bottom: 30px;
	width: 70%;
	border: none;
	border-bottom: 1px solid #b2b2b2;
	padding-bottom: 10px;
}
label,a{
	font-family: 'Poppins', sans-serif;
	color: #999999;
	font-size: 13px;
	cursor: pointer;
}
.label{
	font-family: 'Poppins', sans-serif;
	color: #999999;
	font-size: 13px;
	cursor: pointer;
	padding-left: 6px;
}
.checkbox{
	margin-bottom: 30px;
}
.btn{
	padding: 14px 60px;
	border: none;
	border-radius: 60px;
	background: #57b846;
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
	font-size: 16px;
	margin-left: 115px;
}
a:hover{
	color: #57b846;
	cursor: pointer;
}
.input1{
	margin-left: 26px;
}
.input2{
	margin-left: 30px;
}
.cc{
	cursor: pointer;
	margin-left: 116px;
}
.btn:hover{
	background: #333333;
	cursor: pointer;
}
